In [ ]:
# File to extract all census tracts in WA from the census data

In [1]:
import pandas as pd

In [15]:
year = 2020

In [16]:
df = pd.read_csv("data/census/all_acs_by_tract_%d.csv"%year)
df

,Unnamed: 0,GEOID,NAME,n_total_pop,n_white,n_bachelor,n_workers_16plus,n_drove_alone,median_hh_inc,n_units_tot,n_units_1detached,n_units_1attached
0,1,53001950100,"Census Tract 9501, Adams County, Washington",2606,2285,291,1048,699,52589.0,1240,924,29
1,2,53001950200,"Census Tract 9502, Adams County, Washington",1763,1275,184,761,574,59886.0,855,690,4
2,3,53001950301,"Census Tract 9503.01, Adams County, Washington",1581,592,32,483,283,39928.0,522,201,0
3,4,53001950302,"Census Tract 9503.02, Adams County, Washington",2434,829,0,1048,873,58884.0,644,174,12
4,5,53001950303,"Census Tract 9503.03, Adams County, Washington",2514,1438,123,880,722,50915.0,688,267,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1779,1780,53077940003,"Census Tract 9400.03, Yakima County, Washington",3542,1637,283,1180,984,51151.0,1112,772,5
1780,1781,53077940005,"Census Tract 9400.05, Yakima County, Washington",4727,2843,155,1782,1351,54397.0,1412,1037,23
1781,1782,53077940006,"Census Tract 9400.06, Yakima County, Washington",4614,2537,78,1953,1432,51116.0,1215,952,14
1782,1783,53077940007,"Census Tract 9400.07, Yakima County, Washington",3880,2057,91,1579,1189,43721.0,1190,803,44
1783,1784,53077940008,"Census Tract 9400.08, Yakima County, Washington",2244,1232,20,816,570,43135.0,596,383,0

In [12]:
print(len(df["GEOID"]), len(df["GEOID"].unique()))

1458 1458

In [13]:
string = "census_tracts = [" + ", ".join(df["GEOID"].astype(str).tolist()) + "]\n"
string
with open("config/census_tracts_%d.py"%year, "w") as fd:
    fd.write(string)