# process_vehicle_registration_transactions.ipynb
**This notebook extracts vehicle registration counts by census tract and by month from the vehicle registration transactions data file (scraped by the `scrape_veh_registration_data.ipynb` file) and stores the resulting vehicle counts in `data/vehicles/vehicle_counts.csv`.**
TODO: update text below
+ For each month and for each census tract, counts the number of "Original Registration" and "Registration Renewal" entries within the past year (365 days).
+ Likewise, for each month and for each ZIP code, counts the number of unique EV models on the market in WA until that date (month). This is taken as an estimate for the EV model variety at each point in time.
+ Stores resulting dataframe (panel data by month (January 2017 to December 2021) and by ZIP code (all ZIP codes in WA)) in `data/vehicles/ev_counts.csv`.

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import addfips
af = addfips.AddFIPS()
from uszipcode import SearchEngine
search = SearchEngine()

import timeit

import utils as u
from config.GLOBAL import *

C:\Users\steff\anaconda3\lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [2]:
df_fips = pd.read_csv("config/fips2county_tab.tsv", sep='\t', header='infer', dtype=str, encoding='latin-1', index_col=["StateAbbr", "CountyName"])
# df_fips = pd.read_csv("config/fips2county_tab.tsv", sep='\t', header='infer', dtype=str, encoding='latin-1')
df_fips

                     StateFIPS CountyFIPS_3 StateName CountyFIPS  \
StateAbbr CountyName
AL        Autauga           01          001   Alabama      01001
          Baldwin           01          003   Alabama      01003
          Barbour           01          005   Alabama      01005
          Bibb              01          007   Alabama      01007
          Blount            01          009   Alabama      01009
...                        ...          ...       ...        ...
WY        Sweetwater        56          037   Wyoming      56037
          Teton             56          039   Wyoming      56039
          Uinta             56          041   Wyoming      56041
          Washakie          56          043   Wyoming      56043
          Weston            56          045   Wyoming      56045

                         STATE_COUNTY
StateAbbr CountyName
AL        Autauga        AL | AUTAUGA
          Baldwin        AL | BALDWIN
          Barbour        AL | BARBOUR
          Bibb              AL | BIBB
          Blount          AL | BLOUNT
...                               ...
WY        Sweetwater  WY | SWEETWATER
          Teton            WY | TETON
          Uinta            WY | UINTA
          Washakie      WY | WASHAKIE
          Weston          WY | WESTON

[3143 rows x 5 columns]

In [3]:
#not needed
state_Abbr_to_FIPS = dict()
for StateAbbr in df_fips["StateAbbr"].unique():
    state_Abbr_to_FIPS[StateAbbr] = df_fips.loc[df_fips["StateAbbr"] == StateAbbr, "StateFIPS"].value_counts().index[0]
state_Abbr_to_FIPS

KeyError: 'StateAbbr'

In [3]:
def get_countyFIPS(row):
    try:
        countyFIPS = df_fips.loc[(row["state"], row["county"]), "CountyFIPS"]
    except KeyError:
        try:
            countyFIPS = df_fips.loc[(row["state"], search.by_zipcode(row["zip_code"]).county.replace(" County", "")), "CountyFIPS"]
        except:
            countyFIPS = None
    return countyFIPS

def get_census_tract(row):
    if type(row["_2020_census_tract"]) is str and row["county_FIPS_3"] is not None:
        if len(row["_2020_census_tract"])!=6:
            print(row["_2020_census_tract"])
            a
        census_tract = "{0:s}{1:s}".format(row["county_FIPS_3"].split(".")[0], row["_2020_census_tract"])
        try:
            census_tract = int(census_tract)
        except ValueError:
            census_tract = 0
    else:
        census_tract = 0
    return census_tract

In [41]:
# multiindex = pd.MultiIndex.from_product([times, zip_codes], names=["time", "zip"])
multiindex = pd.MultiIndex.from_product([times, census_tracts_2010], names=["time", "census_tract"])
columns = ["n_veh"]
columns = ["n_veh", "n_veh_new_sales", "n_veh_used_sales", "n_veh_renewals"]

In [ ]:
# create final dataframe and add county and ZIP code column to it
final_df = pd.DataFrame(index=multiindex, columns=["county", "zip_code"] + columns)
# for zip_code in zip_codes:
#     final_df.loc[(slice(None), zip_code), "county"] = search.by_zipcode(zip_code).county.replace(" County", "")
for census_tract in census_tracts:
    if census_tract in tract_to_zip.index:
        zip_code = tract_to_zip.loc[census_tract, "zip_code"]
        final_df.loc[(slice(None), census_tract), "zip_code"] = zip_code
        final_df.loc[(slice(None), census_tract), "county"] = search.by_zipcode(zip_code).county.replace(" County", "")
final_df

In [10]:
chunksize = 1e4
n_rows = 18.9e6
n_chunks = n_rows/chunksize
print(n_chunks)

1890.0

In [11]:
#run for 2021 only for now
times = [u.get_last_day_of_month(dt.datetime(year=y, month=m, day=20)) for y in range(2021,2022) for m in range(1,13)]

In [ ]:
#find no. of vehicles in each census tract for each time step
final_df["n_veh"] = 0
with pd.read_csv("data/vehicles/Vehicle_Registration_Transactions_by_Department_of_Licensing.csv", chunksize=chunksize, dtype={"_2020_census_tract": str}, usecols=["start_of_month", "state", "county", "zip_code", "transaction_type", "_2020_census_tract", "vehicle_record_count"]) as reader:
    #TODO: only read necessary columns + clean up code + print runtime for different steps and optimize the worst one(s)
    for i,chunk in enumerate(reader):
        start = timeit.default_timer()

        #print progress
        if np.round(i/n_chunks, 3) % 0.01 == 0 or True:
            print(np.round(i/n_chunks, 4), "", end="")

        # convert transaction date column to date format
        chunk["start_of_month"] = pd.to_datetime(chunk["start_of_month"]).dt.date #fast

        #only run for 2021 for now
        # chunk = chunk[(chunk["start_of_month"] >= pd.to_datetime("2020-01-01").date()) and (chunk["start_of_month"] <= pd.to_datetime("2021-12-31").date())]
        # chunk = chunk[chunk["start_of_month"] <= pd.to_datetime("2021-12-31").date()]

        #add complete census_tract column
        chunk["county_FIPS_3"] = chunk.apply(get_countyFIPS, axis=1) #1.5-2s
        chunk["census_tract"] = chunk.apply(get_census_tract, axis=1) #fast (0.5s)

        for time in times: #TODO: find out how fast this is when n_veh actually contains values
            #filter data to relevant time span and registration types (0.0055s*12*10000=11min)
            chunk_time = chunk.loc[(chunk["start_of_month"] > dt.datetime(time.year-1, time.month, time.day-1).date()) & (chunk["start_of_month"] < time)]
            chunk_time = chunk_time.loc[chunk_time["transaction_type"].isin(["Original Registration", "Registration Renewal"])]

            #vehicle count (0.0015s*12*10000=3min)
            n_veh = chunk_time.groupby("census_tract")["vehicle_record_count"].sum()

            """
            start_assign = timeit.default_timer()
            if len(n_veh) > 0:
                print(final_df["n_veh"].sum())
                for census_tract in census_tracts:
                    if census_tract in n_veh.index:
                        # start = timeit.default_timer()
                        final_df.loc[(time, census_tract),"n_veh"] += n_veh[census_tract]
                        # stop = timeit.default_timer()
                        # print("{0:.4f}assign_inner".format(stop-start), "", end="")
                print(final_df["n_veh"].sum())
            stop_assign = timeit.default_timer()
            print("{0:.4f}assign".format(stop_assign-start_assign), "", end="")
            #"""

            #"""
            if len(n_veh) > 0:
                n_veh = n_veh.filter(items=census_tracts, axis=0)
                final_df.loc[(time, slice(None)), "n_veh"] = final_df["n_veh"].add(n_veh, fill_value=0)
            #"""

        stop = timeit.default_timer()
        print("{0:.1f}s,".format(stop-start), "", end="")

        # if i > 2:
        #     break
        # continue

print("done")

0.0 2.3s, 0.0005 3.0s, 0.0011 2.9s, 0.0016 2.8s, 0.0021 3.0s, 0.0026 3.6s, 0.0032 2.7s, 0.0037 1.9s, 0.0042 5.3s, 0.0048 4.4s, 0.0053 3.2s, 0.0058 2.9s, 0.0063 3.2s, 0.0069 5.2s, 0.0074 3.0s, 0.0079 2.1s, 0.0085 2.2s, 0.009 2.6s, 0.0095 2.7s, 0.0101 2.6s, 0.0106 2.7s, 0.0111 2.8s, 0.0116 3.0s, 0.0122 2.2s, 0.0127 2.3s, 0.0132 2.3s, 0.0138 3.2s, 0.0143 2.7s, 0.0148 2.6s, 0.0153 2.7s, 0.0159 2.6s, 0.0164 2.4s, 0.0169 2.2s, 0.0175 2.1s, 0.018 2.8s, 0.0185 2.6s, 0.019 2.9s, 0.0196 2.6s, 0.0201 3.2s, 0.0206 2.6s, 0.0212 2.0s, 0.0217 2.0s, 0.0222 2.2s, 0.0228 2.8s, 0.0233 2.5s, 0.0238 2.6s, 0.0243 2.6s, 0.0249 3.2s, 0.0254 2.7s, 0.0259 2.0s, 0.0265 2.0s, 0.027 2.4s, 0.0275 2.8s, 0.028 2.7s, 0.0286 2.5s, 0.0291 2.7s, 0.0296 2.6s, 0.0302 2.4s, 0.0307 2.0s, 0.0312 1.9s, 0.0317 2.5s, 0.0323 2.7s, 0.0328 2.8s, 0.0333 2.7s, 0.0339 2.7s, 0.0344 3.1s, 0.0349 5.5s, 0.0354 5.0s, 0.036 2.8s, 0.0365 4.9s, 0.037 3.7s, 0.0376 2.7s, 0.0381 2.7s, 0.0386 2.2s, 0.0392 2.0s, 0.0397 2.3s, 0.0402 2.7s, 0.0407 2.6s, 0.0413 2.6s, 0.0418 2.7s, 0.0423 2.6s, 0.0429 2.6s, 0.0434 2.0s, 0.0439 2.0s, 0.0444 2.6s, 0.045 2.6s, 0.0455 2.6s, 0.046 2.7s, 0.0466 2.8s, 0.0471 2.7s, 0.0476 2.2s, 0.0481 2.0s, 0.0487 2.2s, 0.0492 2.7s, 0.0497 2.7s, 0.0503 2.7s, 0.0508 2.7s, 0.0513 2.6s, 0.0519 2.6s, 0.0524 2.1s, 0.0529 2.0s, 0.0534 2.4s, 0.054 2.8s, 0.0545 2.6s, 0.055 2.6s, 0.0556 2.7s, 0.0561 2.7s, 0.0566 2.6s, 0.0571 2.3s, 0.0577 2.2s, 0.0582 2.9s, 0.0587 2.7s, 0.0593 2.7s, 0.0598 2.8s, 0.0603 2.9s, 0.0608 2.6s, 0.0614 2.0s, 0.0619 2.0s, 0.0624 2.7s, 0.063 2.9s, 0.0635 2.7s, 0.064 2.7s, 0.0646 2.9s, 0.0651 2.8s, 0.0656 2.5s, 0.0661 2.1s, 0.0667 2.0s, 0.0672 3.0s, 0.0677 3.0s, 0.0683 2.7s, 0.0688 2.8s, 0.0693 2.7s, 0.0698 2.7s, 0.0704 2.2s, 0.0709 2.0s, 0.0714 2.3s, 0.072 2.9s, 0.0725 2.8s, 0.073 2.7s, 0.0735 2.8s, 0.0741 2.8s, 0.0746 2.6s, 0.0751 2.4s, 0.0757 2.1s, 0.0762 2.7s, 0.0767 2.8s, 0.0772 2.7s, 0.0778 2.7s, 0.0783 2.7s, 0.0788 2.8s, 0.0794 2.2s, 0.0799 2.0s, 0.0804 2.3s, 0.081 2.7s, 0.0815 2.7s, 0.082 3.1s, 0.0825 3.1s, 0.0831 2.7s, 0.0836 2.7s, 0.0841 2.1s, 0.0847 2.0s, 0.0852 2.6s, 0.0857 2.7s, 0.0862 2.5s, 0.0868 2.7s, 0.0873 2.7s, 0.0878 2.6s, 0.0884 2.3s, 0.0889 2.1s, 0.0894 2.1s, 0.0899 2.7s, 0.0905 2.8s, 0.091 2.8s, 0.0915 2.8s, 0.0921 2.8s, 0.0926 2.7s, 0.0931 2.2s, 0.0937 2.0s, 0.0942 2.6s, 0.0947 2.7s, 0.0952 2.9s, 0.0958 2.8s, 0.0963 2.8s, 0.0968 2.6s, 0.0974 2.6s, 0.0979 2.1s, 0.0984 2.1s, 0.0989 2.8s, 0.0995 5.9s, 0.1 2.8s, 0.1005 2.8s, 0.1011 2.8s, 0.1016 2.6s, 0.1021 2.1s, 0.1026 2.0s, 0.1032 2.5s, 0.1037 2.8s, 0.1042 2.7s, 0.1048 2.7s, 0.1053 2.8s, 0.1058 2.7s, 0.1063 2.5s, 0.1069 2.0s, 0.1074 2.3s, 0.1079 2.9s, 0.1085 2.7s, 0.109 2.7s, 0.1095 2.7s, 0.1101 2.8s, 0.1106 6.4s, 0.1111 2.8s, 0.1116 2.7s, 0.1122 3.5s, 0.1127 5.2s, 0.1132 3.7s, 0.1138 4.4s, 0.1143 2.9s, 0.1148 2.8s, 0.1153 2.6s, 0.1159 4.5s, 0.1164 4.7s, 0.1169 3.6s, 0.1175 4.4s, 0.118 3.4s, 0.1185 3.1s, 0.119 2.6s, 0.1196 2.1s, 0.1201 2.6s, 0.1206 2.9s, 0.1212 3.1s, 0.1217 2.9s, 0.1222 3.0s, 0.1228 2.8s, 0.1233 2.6s, 0.1238 2.1s, 0.1243 2.7s, 0.1249 5.3s, 0.1254 4.5s, 0.1259 3.2s, 0.1265 3.0s, 0.127 3.1s, 0.1275 2.8s, 0.128 2.1s, 0.1286 2.3s, 0.1291 2.8s, 0.1296 2.9s, 0.1302 3.1s, 0.1307 3.0s, 0.1312 2.7s, 0.1317 2.6s, 0.1323 2.3s, 0.1328 2.1s, 0.1333 2.4s, 0.1339 2.8s, 0.1344 3.0s, 0.1349 3.0s, 0.1354 2.9s, 0.136 3.4s, 0.1365 3.3s, 0.137 2.3s, 0.1376 3.2s, 0.1381 3.1s, 0.1386 2.8s, 0.1392 2.9s, 0.1397 2.7s, 0.1402 2.8s, 0.1407 2.4s, 0.1413 1.9s, 0.1418 2.0s, 0.1423 2.7s, 0.1429 2.8s, 0.1434 2.8s, 0.1439 3.0s, 0.1444 3.0s, 0.145 2.9s, 0.1455 2.3s, 0.146 2.0s, 0.1466 2.6s, 0.1471 2.9s, 0.1476 2.8s, 0.1481 2.8s, 0.1487 3.0s, 0.1492 3.3s, 0.1497 2.6s, 0.1503 2.3s, 0.1508 2.4s, 0.1513 3.0s, 0.1519 2.8s, 0.1524 2.7s, 0.1529 2.6s, 0.1534 2.7s, 0.154 3.1s, 0.1545 2.1s, 0.155 2.1s, 0.1556 2.4s, 0.1561 2.7s, 0.1566 2.7s, 0.1571 2.7s, 0.1577 2.9s, 0.1582 2.8s, 0.1587 2.6s, 0.1593 2.0s, 0.1598 2.3s, 0.1603 2.7s, 0.1608 2.9s, 0.1614 6.3s, 0.1619 9.9s, 0.1624 7.0s, 0.163 6.6s, 0.1635 4.7s, 0.164 5.0s, 0.1646 5.7s, 0.1651 7.9s, 0.1656 6.8s, 0.1661 6.6s, 0.1667 4.7s, 0.1672 2.2s, 0.1677 5.5s, 0.1683 3.9s, 0.1688 6.7s, 0.1693 6.1s, 0.1698 3.8s, 0.1704 5.8s, 0.1709 5.0s, 0.1714 4.8s, 0.172 3.9s, 0.1725 3.3s, 0.173 2.9s, 0.1735 2.9s, 0.1741 2.8s, 0.1746 2.1s, 0.1751 1.9s, 0.1757 2.7s, 0.1762 2.9s, 0.1767 5.2s, 0.1772 3.4s, 0.1778 4.0s, 0.1783 4.3s, 0.1788 2.7s, 0.1794 2.6s, 0.1799 3.1s, 0.1804 5.8s, 0.181 8.6s, 0.1815 3.4s, 0.182 2.4s, 0.1825 2.3s, 0.1831 2.0s, 0.1836 1.8s, 0.1841 1.9s, 0.1847 4.9s, 0.1852 5.2s, 0.1857 3.7s, 0.1862 4.5s, 0.1868 5.2s, 0.1873 5.5s, 0.1878 3.5s, 0.1884 2.6s, 0.1889 2.4s, 0.1894 2.2s, 0.1899 3.2s, 0.1905 3.2s, 0.191 3.0s, 0.1915 2.2s, 0.1921 5.0s, 0.1926 4.3s, 0.1931 4.3s, 0.1937 3.1s, 0.1942 3.5s, 0.1947 3.2s, 0.1952 2.4s, 0.1958 3.3s, 0.1963 4.9s, 0.1968 4.8s, 0.1974 2.6s, 0.1979 2.2s, 0.1984 3.1s, 0.1989 6.5s, 0.1995 2.8s, 0.2 1.7s, 0.2005 1.8s, 0.2011 2.5s, 0.2016 3.2s, 0.2021 2.4s, 0.2026 2.4s, 0.2032 2.4s, 0.2037 2.3s, 0.2042 2.2s, 0.2048 1.7s, 0.2053 1.8s, 0.2058 2.1s, 0.2063 2.4s, 0.2069 2.3s, 0.2074 2.3s, 0.2079 2.5s, 0.2085 2.6s, 0.209 2.5s, 0.2095 1.7s, 0.2101 1.8s, 0.2106 2.0s, 0.2111 2.4s, 0.2116 2.8s, 0.2122 2.8s, 0.2127 2.4s, 0.2132 2.4s, 0.2138 2.3s, 0.2143 1.9s, 0.2148 1.8s, 0.2153 2.2s, 0.2159 2.6s, 0.2164 2.2s, 0.2169 2.6s, 0.2175 2.5s, 0.218 2.4s, 0.2185 2.0s, 0.219 1.8s, 0.2196 1.8s, 0.2201 2.2s, 0.2206 2.3s, 0.2212 2.4s, 0.2217 2.3s, 0.2222 2.4s, 0.2228 2.5s, 0.2233 3.7s, 0.2238 2.4s, 0.2243 3.2s, 0.2249 3.6s, 0.2254 2.7s, 0.2259 2.2s, 0.2265 2.8s, 0.227 2.6s, 0.2275 2.0s, 0.228 1.8s, 0.2286 1.9s, 0.2291 2.6s, 0.2296 2.6s, 0.2302 2.6s, 0.2307 2.3s, 0.2312 2.4s, 0.2317 2.4s, 0.2323 2.0s, 0.2328 2.1s, 0.2333 1.9s, 0.2339 2.8s, 0.2344 2.4s, 0.2349 2.2s, 0.2354 2.7s, 0.236 3.0s, 0.2365 2.9s, 0.237 2.0s, 0.2376 2.1s, 0.2381 2.3s, 0.2386 3.2s, 0.2392 2.6s, 0.2397 2.3s, 0.2402 2.5s, 0.2407 2.4s, 0.2413 2.0s, 0.2418 1.9s, 0.2423 1.9s, 0.2429 2.3s, 0.2434 2.5s, 0.2439 2.6s, 0.2444 2.7s, 0.245 3.0s, 0.2455 2.7s, 0.246 2.2s, 0.2466 2.0s, 0.2471 1.9s, 0.2476 2.5s, 0.2481 2.4s, 0.2487 2.3s, 0.2492 2.5s, 0.2497 2.6s, 0.2503 2.5s, 0.2508 1.9s, 0.2513 1.8s, 0.2519 2.0s, 0.2524 2.6s, 0.2529 3.0s, 0.2534 2.7s, 0.254 3.5s, 0.2545 2.9s, 0.255 2.3s, 0.2556 2.0s, 0.2561 2.0s, 0.2566 2.4s, 0.2571 2.7s, 0.2577 2.7s, 0.2582 2.5s, 0.2587 2.7s, 0.2593 2.7s, 0.2598 2.1s, 0.2603 2.2s, 0.2608 2.2s, 0.2614 2.8s, 0.2619 2.5s, 0.2624 2.4s, 0.263 2.8s, 0.2635 2.6s, 0.264 2.1s, 0.2646 2.1s, 0.2651 2.2s, 0.2656 2.7s, 0.2661 2.6s, 0.2667 2.3s, 0.2672 2.7s, 0.2677 2.6s, 0.2683 2.2s, 0.2688 2.0s, 0.2693 2.0s, 0.2698 2.6s, 0.2704 2.7s, 0.2709 2.5s, 0.2714 2.7s, 0.272 2.7s, 0.2725 2.3s, 0.273 2.0s, 0.2735 2.0s, 0.2741 2.4s, 0.2746 2.7s, 0.2751 2.6s, 0.2757 2.5s, 0.2762 2.6s, 0.2767 2.9s, 0.2772 2.1s, 0.2778 2.2s, 0.2783 2.3s, 0.2788 2.6s, 0.2794 2.5s, 0.2799 2.6s, 0.2804 2.7s, 0.281 2.7s, 0.2815 2.1s, 0.282 2.1s, 0.2825 2.1s, 0.2831 2.7s, 0.2836 2.5s, 0.2841 2.4s, 0.2847 2.8s, 0.2852 2.4s, 0.2857 2.1s, 0.2862 2.0s, 0.2868 2.0s, 0.2873 2.6s, 0.2878 3.5s, 0.2884 2.9s, 0.2889 2.8s, 0.2894 2.6s, 0.2899 2.4s, 0.2905 2.1s, 0.291 2.0s, 0.2915 2.5s, 0.2921 2.7s, 0.2926 2.5s, 0.2931 2.9s, 0.2937 2.7s, 0.2942 2.6s, 0.2947 2.2s, 0.2952 2.1s, 0.2958 2.4s, 0.2963 2.7s, 0.2968 2.6s, 0.2974 2.4s, 0.2979 2.6s, 0.2984 2.6s, 0.2989 2.1s, 0.2995 2.1s, 0.3 2.4s, 0.3005 2.9s, 0.3011 2.7s, 0.3016 2.4s, 0.3021 2.8s, 0.3026 2.6s, 0.3032 2.2s, 0.3037 2.0s, 0.3042 2.2s, 0.3048 2.6s, 0.3053 2.6s, 0.3058 3.5s, 0.3063 2.8s, 0.3069 3.0s, 0.3074 2.4s, 0.3079 2.1s, 0.3085 2.1s, 0.309 2.8s, 0.3095 2.6s, 0.3101 2.5s, 0.3106 2.9s, 0.3111 2.7s, 0.3116 2.4s, 0.3122 2.0s, 0.3127 2.1s, 0.3132 2.4s, 0.3138 2.7s, 0.3143 2.7s, 0.3148 2.8s, 0.3153 2.6s, 0.3159 2.8s, 0.3164 2.2s, 0.3169 2.2s, 0.3175 2.6s, 0.318 2.8s, 0.3185 2.6s, 0.319 2.9s, 0.3196 2.9s, 0.3201 2.5s, 0.3206 2.2s, 0.3212 2.0s, 0.3217 2.4s, 0.3222 2.8s, 0.3228 2.8s, 0.3233 2.8s, 0.3238 4.4s, 0.3243 2.2s, 0.3249 2.2s, 0.3254 2.6s, 0.3259 3.0s, 0.3265 2.8s, 0.327 2.5s, 0.3275 2.7s, 0.328 2.8s, 0.3286 2.4s, 0.3291 2.1s, 0.3296 2.4s, 0.3302 2.9s, 0.3307 2.6s, 0.3312 2.5s, 0.3317 2.7s, 0.3323 2.7s, 0.3328 2.3s, 0.3333 2.1s, 0.3339 2.2s, 0.3344 2.5s, 0.3349 2.6s, 0.3354 2.6s, 0.336 2.8s, 0.3365 2.5s, 0.337 2.5s, 0.3376 2.3s, 0.3381 2.0s, 0.3386 2.2s, 0.3392 2.7s, 0.3397 2.7s, 0.3402 3.3s, 0.3407 3.5s, 0.3413 2.5s, 0.3418 2.3s, 0.3423 2.0s, 0.3429 2.0s, 0.3434 2.4s, 0.3439 2.7s, 0.3444 2.4s, 0.345 2.6s, 0.3455 2.6s, 0.346 2.5s, 0.3466 2.2s, 0.3471 2.1s, 0.3476 2.5s, 0.3481 2.6s, 0.3487 2.5s, 0.3492 2.5s, 0.3497 2.8s, 0.3503 2.3s, 0.3508 2.2s, 0.3513 2.1s, 0.3519 2.3s, 0.3524 2.6s, 0.3529 2.3s, 0.3534 2.4s, 0.354 2.7s, 0.3545 2.4s, 0.355 2.1s, 0.3556 2.0s, 0.3561 2.0s, 0.3566 2.7s, 0.3571 2.6s, 0.3577 2.4s, 0.3582 2.8s, 0.3587 2.4s, 0.3593 2.3s, 0.3598 2.0s, 0.3603 2.1s, 0.3608 2.5s, 0.3614 2.7s, 0.3619 2.3s, 0.3624 2.6s, 0.363 2.7s, 0.3635 2.3s, 0.364 2.1s, 0.3646 2.0s, 0.3651 2.3s, 0.3656 2.7s, 0.3661 2.3s, 0.3667 2.4s, 0.3672 2.6s, 0.3677 2.4s, 0.3683 2.2s, 0.3688 2.1s, 0.3693 2.2s, 0.3698 2.7s, 0.3704 2.8s, 0.3709 2.2s, 0.3714 2.7s, 0.372 2.4s, 0.3725 2.2s, 0.373 2.0s, 0.3735 2.0s, 0.3741 2.4s, 0.3746 2.6s, 0.3751 2.3s, 0.3757 2.5s, 0.3762 2.7s, 0.3767 2.3s, 0.3772 2.1s, 0.3778 2.0s, 0.3783 2.2s, 0.3788 2.6s, 0.3794 2.3s, 0.3799 2.4s, 0.3804 2.8s, 0.381 2.4s, 0.3815 2.1s, 0.382 2.0s, 0.3825 2.0s, 0.3831 2.6s, 0.3836 2.4s, 0.3841 2.5s, 0.3847 2.8s, 0.3852 2.5s, 0.3857 2.3s, 0.3862 2.0s, 0.3868 2.0s, 0.3873 2.5s, 0.3878 2.7s, 0.3884 2.4s, 0.3889 2.5s, 0.3894 2.6s, 0.3899 2.3s, 0.3905 2.1s, 0.391 2.1s, 0.3915 2.4s, 0.3921 2.6s, 0.3926 2.5s, 0.3931 2.5s, 0.3937 2.5s, 0.3942 2.3s, 0.3947 2.1s, 0.3952 2.1s, 0.3958 2.2s, 0.3963 2.7s, 0.3968 2.2s, 0.3974 2.3s, 0.3979 2.8s, 0.3984 2.4s, 0.3989 2.2s, 0.3995 2.0s, 0.4 2.0s, 0.4005 2.8s, 0.4011 2.6s, 0.4016 2.3s, 0.4021 2.6s, 0.4026 2.8s, 0.4032 2.3s, 0.4037 2.0s, 0.4042 2.0s, 0.4048 2.5s, 0.4053 2.7s, 0.4058 2.4s, 0.4063 2.5s, 0.4069 2.5s, 0.4074 2.4s, 0.4079 2.0s, 0.4085 2.1s, 0.409 2.1s, 0.4095 2.8s, 0.4101 2.4s, 0.4106 2.4s, 0.4111 2.7s, 0.4116 2.4s, 0.4122 2.1s, 0.4127 2.0s, 0.4132 2.0s, 0.4138 2.6s, 0.4143 2.5s, 0.4148 2.5s, 0.4153 2.7s, 0.4159 2.6s, 0.4164 2.2s, 0.4169 2.1s, 0.4175 2.2s, 0.418 2.7s, 0.4185 2.5s, 0.419 2.3s, 0.4196 2.7s, 0.4201 2.5s, 0.4206 2.3s, 0.4212 2.0s, 0.4217 2.0s, 0.4222 2.4s, 0.4228 2.7s, 0.4233 2.4s, 0.4238 2.5s, 0.4243 2.6s, 0.4249 2.3s, 0.4254 2.1s, 0.4259 2.0s, 0.4265 2.2s, 0.427 2.7s, 0.4275 2.7s, 0.428 2.4s, 0.4286 2.9s, 0.4291 2.3s, 0.4296 2.2s, 0.4302 2.0s, 0.4307 2.0s, 0.4312 2.7s, 0.4317 2.4s, 0.4323 2.4s, 0.4328 2.7s, 0.4333 2.4s, 0.4339 2.3s, 0.4344 2.0s, 0.4349 2.0s, 0.4354 2.4s, 0.436 2.6s, 0.4365 2.3s, 0.437 2.5s, 0.4376 2.6s, 0.4381 2.4s, 0.4386 2.1s, 0.4392 2.0s, 0.4397 2.2s, 0.4402 2.7s, 0.4407 2.4s, 0.4413 2.3s, 0.4418 2.7s, 0.4423 2.5s, 0.4429 2.1s, 0.4434 2.0s, 0.4439 2.1s, 0.4444 2.6s, 0.445 2.4s, 0.4455 2.4s, 0.446 2.6s, 0.4466 2.6s, 0.4471 2.3s, 0.4476 2.0s, 0.4481 2.0s, 0.4487 2.5s, 0.4492 2.7s, 0.4497 2.3s, 0.4503 2.5s, 0.4508 2.5s, 0.4513 2.4s, 0.4519 2.1s, 0.4524 2.0s, 0.4529 2.5s, 0.4534 3.1s, 0.454

In [ ]:
#output of the fast method is floats (in the n_veh column), thus can convert to int
res = final_df["n_veh"].astype(int)

In [124]:
print(chunk)

                 start_of_month     county state  zip_code  \
190000  2021-12-01T00:00:00.000       King    WA     98101
190001  2021-12-01T00:00:00.000     Pierce    WA     98375
190002  2021-12-01T00:00:00.000       King    WA     98027
190003  2021-12-01T00:00:00.000       King    WA     98122
190004  2021-12-01T00:00:00.000    Spokane    WA     99206
...                         ...        ...   ...       ...
199995  2020-01-01T00:00:00.000     Pierce    WA     98374
199996  2020-01-01T00:00:00.000    Spokane    WA     99001
199997  2020-01-01T00:00:00.000  Snohomish    WA     98037
199998  2020-01-01T00:00:00.000      Clark    WA     98660
199999  2020-01-01T00:00:00.000       King    WA     98146

                        transaction_type _2020_census_tract  \
190000              Registration Renewal             007302
190001              Registration Renewal             073126
190002              Registration Renewal             031912
190003              Registration Renewal             007600
190004  Registration at Time of Transfer             011900
...                                  ...                ...
199995              Registration Renewal             071211
199996              Registration Renewal             010401
199997              Registration Renewal             051701
199998              Registration Renewal             041005
199999              Registration Renewal             026801

        vehicle_record_count
190000                     1
190001                     1
190002                     1
190003                     1
190004                     1
...                      ...
199995                     1
199996                     1
199997                     1
199998                     1
199999                     1

[10000 rows x 7 columns]

In [21]:
(final_df["n_veh"]>0).sum()
# final_df.shape

21291

In [20]:
final_df

              time  census_tract_2020  county  zip_code  n_veh
0       2015-01-31        53001950100   Adams   99169.0    0.0
1       2015-01-31        53001950200   Adams   99371.0    0.0
2       2015-01-31        53001950301     NaN       NaN    0.0
3       2015-01-31        53001950302     NaN       NaN    0.0
4       2015-01-31        53001950303     NaN       NaN    0.0
...            ...                ...     ...       ...    ...
165907  2022-09-30        53077940003  Yakima   98903.0    0.0
165908  2022-09-30        53077940005  Yakima   98948.0    0.0
165909  2022-09-30        53077940006  Yakima   98948.0    0.0
165910  2022-09-30        53077940007     NaN       NaN    0.0
165911  2022-09-30        53077940008     NaN       NaN    0.0

[165912 rows x 5 columns]

In [51]:
name = "veh_counts2021"
number = 4
name = "veh_counts_file%d"%number
name = "veh_counts_file%d_"%number
name

'veh_counts_file4_'

In [52]:
final_df2 = pd.read_csv("data/vehicles/%s.csv"%name, usecols=["time", "census_tract"] + columns)
# final_df2 = pd.read_csv("data/vehicles/%s_2010tracts.csv"%name, usecols=["time", "census_tract_2010", "n_veh"])
final_df2["time"] = pd.to_datetime(final_df2["time"])
final_df2 = final_df2.rename({"census_tract": "census_tract_2020"}, axis=1)
final_df2 = final_df2.set_index(["time", "census_tract_2020"])
# final_df2.index = final_df2.index.set_names("census_tract_2020", level=1)
final_df2

                               n_veh  n_veh_new_sales  n_veh_used_sales  \
time       census_tract_2020
2015-01-31 53001950100           0.0              0.0               0.0
           53001950200           0.0              0.0               0.0
           53001950301           0.0              0.0               0.0
           53001950302           0.0              0.0               0.0
           53001950303           0.0              0.0               0.0
...                              ...              ...               ...
2022-09-30 53077940003        2230.0              9.0              24.0
           53077940005        4126.0              6.0              77.0
           53077940006        4079.0             10.0              81.0
           53077940007        3566.0              8.0              34.0
           53077940008        1886.0              4.0              32.0

                              n_veh_renewals
time       census_tract_2020
2015-01-31 53001950100                   0.0
           53001950200                   0.0
           53001950301                   0.0
           53001950302                   0.0
           53001950303                   0.0
...                                      ...
2022-09-30 53077940003                 139.0
           53077940005                 272.0
           53077940006                 276.0
           53077940007                 229.0
           53077940008                 137.0

[165912 rows x 4 columns]

In [53]:
#express in terms of 2010 census tracts as the index
final_df_2010tracts = final_df2.reset_index()
final_df_2010tracts["census_tract_2010"] = final_df_2010tracts["census_tract_2020"].map(df_tract_20_10.to_dict())

final_df_2010tracts2 = final_df_2010tracts[["time", "census_tract_2010", "census_tract_2020"] + columns].groupby(["time", "census_tract_2010"]).sum()
final_df_2010tracts2 = final_df_2010tracts2.drop("census_tract_2020", axis=1)

final_df_2010tracts2.to_csv("data/vehicles/%s_2010tracts.csv"%name)
final_df_2010tracts2

                               n_veh  n_veh_new_sales  n_veh_used_sales  \
time       census_tract_2010
2015-01-31 53001950100           0.0              0.0               0.0
           53001950200           0.0              0.0               0.0
           53001950300           0.0              0.0               0.0
           53001950400           0.0              0.0               0.0
           53001950500           0.0              0.0               0.0
...                              ...              ...               ...
2022-09-30 53077940002        4101.0             18.0              59.0
           53077940003        2230.0              9.0              24.0
           53077940004        5452.0             12.0              66.0
           53077940005        4126.0              6.0              77.0
           53077940006        4079.0             10.0              81.0

                              n_veh_renewals
time       census_tract_2010
2015-01-31 53001950100                   0.0
           53001950200                   0.0
           53001950300                   0.0
           53001950400                   0.0
           53001950500                   0.0
...                                      ...
2022-09-30 53077940002                 247.0
           53077940003                 139.0
           53077940004                 366.0
           53077940005                 272.0
           53077940006                 276.0

[135501 rows x 4 columns]

In [99]:
#create empty dataframe that's supposed to hold the data summed from all 4 files
# times_data = [u.get_last_day_of_month(dt.datetime(year=y, month=m, day=20)) for y in range(2017,2023) for m in range(1,13)][:-3]
df_veh_all_files = u.create_empty_df(times_data, census_tracts_2010)
df_veh_all_files[columns] = 0
df_veh_all_files

                              county zip_code countyFIPS  n_veh  \
time       census_tract_2010
2017-01-31 53001950100         Adams    99169      53001      0
           53001950200         Adams    99371      53001      0
           53001950300         Adams    99344      53001      0
           53001950400         Adams    99344      53001      0
           53001950500         Adams    99344      53001      0
...                              ...      ...        ...    ...
2022-09-30 53077940002        Yakima    98948      53077      0
           53077940003        Yakima    98903      53077      0
           53077940004        Yakima    98951      53077      0
           53077940005        Yakima    98948      53077      0
           53077940006        Yakima    98948      53077      0

                              n_veh_new_sales  n_veh_used_sales  \
time       census_tract_2010
2017-01-31 53001950100                      0                 0
           53001950200                      0                 0
           53001950300                      0                 0
           53001950400                      0                 0
           53001950500                      0                 0
...                                       ...               ...
2022-09-30 53077940002                      0                 0
           53077940003                      0                 0
           53077940004                      0                 0
           53077940005                      0                 0
           53077940006                      0                 0

                              n_veh_renewals
time       census_tract_2010
2017-01-31 53001950100                     0
           53001950200                     0
           53001950300                     0
           53001950400                     0
           53001950500                     0
...                                      ...
2022-09-30 53077940002                     0
           53077940003                     0
           53077940004                     0
           53077940005                     0
           53077940006                     0

[100602 rows x 7 columns]

In [100]:
df_veh_all_files_empty = df_veh_all_files.copy()

In [101]:
df_veh_all_files = df_veh_all_files_empty.copy()

In [102]:
df_veh_all_files

                              county zip_code countyFIPS  n_veh  \
time       census_tract_2010
2017-01-31 53001950100         Adams    99169      53001      0
           53001950200         Adams    99371      53001      0
           53001950300         Adams    99344      53001      0
           53001950400         Adams    99344      53001      0
           53001950500         Adams    99344      53001      0
...                              ...      ...        ...    ...
2022-09-30 53077940002        Yakima    98948      53077      0
           53077940003        Yakima    98903      53077      0
           53077940004        Yakima    98951      53077      0
           53077940005        Yakima    98948      53077      0
           53077940006        Yakima    98948      53077      0

                              n_veh_new_sales  n_veh_used_sales  \
time       census_tract_2010
2017-01-31 53001950100                      0                 0
           53001950200                      0                 0
           53001950300                      0                 0
           53001950400                      0                 0
           53001950500                      0                 0
...                                       ...               ...
2022-09-30 53077940002                      0                 0
           53077940003                      0                 0
           53077940004                      0                 0
           53077940005                      0                 0
           53077940006                      0                 0

                              n_veh_renewals
time       census_tract_2010
2017-01-31 53001950100                     0
           53001950200                     0
           53001950300                     0
           53001950400                     0
           53001950500                     0
...                                      ...
2022-09-30 53077940002                     0
           53077940003                     0
           53077940004                     0
           53077940005                     0
           53077940006                     0

[100602 rows x 7 columns]

In [103]:
#sum up vehicle counts derived from file 1, 2, and 3
filenames = []
filenames += ["data/vehicles/veh_counts_file1__2010tracts.csv"] #01/2017-02/2018
filenames += ["data/vehicles/veh_counts_file2__2010tracts.csv"] #02/2018-01/2019
filenames += ["data/vehicles/veh_counts_file3__2010tracts.csv"] #01/2019-12/2019
filenames += ["data/vehicles/veh_counts_file4__2010tracts.csv"] #01/2020-present

for filename in filenames:
    print("Adding %s..."%filename)

    df_veh = pd.read_csv(filename)
    df_veh["time"] = pd.to_datetime(df_veh["time"]).dt.date
    df_veh = df_veh.set_index(["time", "census_tract_2010"])

    df_veh_all_files[columns] += df_veh[columns]

Adding data/vehicles/veh_counts_file1__2010tracts.csv...
Adding data/vehicles/veh_counts_file2__2010tracts.csv...
Adding data/vehicles/veh_counts_file3__2010tracts.csv...
Adding data/vehicles/veh_counts_file4__2010tracts.csv...

In [104]:
df_veh_all_files

                              county zip_code countyFIPS   n_veh  \
time       census_tract_2010
2017-01-31 53001950100         Adams    99169      53001   147.0
           53001950200         Adams    99371      53001   122.0
           53001950300         Adams    99344      53001   388.0
           53001950400         Adams    99344      53001   145.0
           53001950500         Adams    99344      53001   262.0
...                              ...      ...        ...     ...
2022-09-30 53077940002        Yakima    98948      53077  4101.0
           53077940003        Yakima    98903      53077  2230.0
           53077940004        Yakima    98951      53077  5452.0
           53077940005        Yakima    98948      53077  4126.0
           53077940006        Yakima    98948      53077  4079.0

                              n_veh_new_sales  n_veh_used_sales  \
time       census_tract_2010
2017-01-31 53001950100                   14.0              14.0
           53001950200                   15.0               9.0
           53001950300                   24.0              48.0
           53001950400                   13.0              17.0
           53001950500                   24.0              37.0
...                                       ...               ...
2022-09-30 53077940002                   18.0              59.0
           53077940003                    9.0              24.0
           53077940004                   12.0              66.0
           53077940005                    6.0              77.0
           53077940006                   10.0              81.0

                              n_veh_renewals
time       census_tract_2010
2017-01-31 53001950100                 119.0
           53001950200                  98.0
           53001950300                 316.0
           53001950400                 115.0
           53001950500                 201.0
...                                      ...
2022-09-30 53077940002                 247.0
           53077940003                 139.0
           53077940004                 366.0
           53077940005                 272.0
           53077940006                 276.0

[100602 rows x 7 columns]

In [106]:
df_veh_all_files.to_csv("data/vehicles/veh_counts__2010tracts.csv")

In [119]:
#use 2021 vehicle counts for all other years too
times_in_2021 = [time for time in times if time.year == 2021]
# print(times_in_2021)
final_df_all = final_df2.copy()
# print(final_df_all.index[0][0].dtype)
# for year in [2015, 2016, 2017, 2018, 2019, 2022]:
for time in times:
    if time.year != 2021:
        # times_in_year = [t for t in times if t.year == year]
        print(time)
        print(type(time))
        # print(times_in_year)
        print(final_df_all)
        # print(final_df_all.loc[(times_in_year, slice(None)), "n_veh"])
        # print(final_df_all.xs(times_in_year, level="time"))
        # final_df_all.loc[(times_in_year, slice(None)), "n_veh"] = final_df2.loc[(times_in_2021, slice(None)), "n_veh"]
        time_in_2021 = [t for t in times if time.month == t.month and t.year==2021][0]
        print(time_in_2021,"j")
        print(final_df_all.loc[str(time), 53001950100])
        # p
        # idx = pd.IndexSlice
        # print(final_df_all.loc[idx[time, :], "n_veh"])
        print(final_df_all.loc[(str(time), slice(None)), "n_veh"])
        print(final_df2.loc[(str(time_in_2021), slice(None)), "n_veh"])
        # k
        # final_df_all.loc[(str(time), slice(None)), "n_veh"] = final_df2.loc[(str(time_in_2021), slice(None)), "n_veh"]
        print(final_df_all.loc[(str(time), slice(None)), "n_veh"])

        # n_veh = n_veh.filter(items=census_tracts, axis=0)
        print(final_df_all.sum())
        # final_df_all.loc[(str(time), slice(None)), "n_veh"] = final_df_all.loc[(str(time), slice(None)), "n_veh"].add(final_df2.loc[(str(time_in_2021), slice(None)), "n_veh"], fill_value=0)

        for census_tract in census_tracts_2010:
            # final_df_all.loc[(str(time), census_tract), "n_veh"] = final_df2.loc[(str(time_in_2021), census_tract), "n_veh"]
            final_df.loc[time, census_tract]["n_veh"] = final_df2.loc[str(time_in_2021), census_tract]["n_veh"]
        print(final_df_all.sum())
        print(final_df_all.loc[(str(time), slice(None)), "n_veh"])
        l
final_df_all

2015-01-31
<class 'datetime.date'>
                              n_veh
time       census_tract_2010
2015-01-31 5.300195e+10         0.0
           5.300195e+10         0.0
           5.300195e+10         0.0
           5.300195e+10         0.0
           5.300195e+10         0.0
...                             ...
2022-09-30 5.307794e+10         0.0
           5.307794e+10         0.0
           5.307794e+10         0.0
           5.307794e+10         0.0
           5.307794e+10         0.0

[135501 rows x 1 columns]
2021-01-31 j
n_veh    0.0
Name: (2015-01-31 00:00:00, 53001950100.0), dtype: float64
time        census_tract_2010
2015-01-31  5.300195e+10         0.0
            5.300195e+10         0.0
            5.300195e+10         0.0
            5.300195e+10         0.0
            5.300195e+10         0.0
                                ...
            5.307794e+10         0.0
            5.307794e+10         0.0
            5.307794e+10         0.0
            5.307794e+10         0.0
            5.307794e+10         0.0
Name: n_veh, Length: 1457, dtype: float64
time        census_tract_2010
2021-01-31  5.300195e+10         2066.0
            5.300195e+10         1439.0
            5.300195e+10         6123.0
            5.300195e+10         2039.0
            5.300195e+10         4125.0
                                  ...
            5.307794e+10         3477.0
            5.307794e+10         2243.0
            5.307794e+10         4379.0
            5.307794e+10         3240.0
            5.307794e+10         3350.0
Name: n_veh, Length: 1457, dtype: float64
time        census_tract_2010
2015-01-31  5.300195e+10         0.0
            5.300195e+10         0.0
            5.300195e+10         0.0
            5.300195e+10         0.0
            5.300195e+10         0.0
                                ...
            5.307794e+10         0.0
            5.307794e+10         0.0
            5.307794e+10         0.0
            5.307794e+10         0.0
            5.307794e+10         0.0
Name: n_veh, Length: 1457, dtype: float64
n_veh    71107212.0
dtype: float64

KeyError: datetime.date(2015, 1, 31)

In [85]:
final_df_all.loc[("2015-01-31", 53001950100)]
# final_df_all.index[0][0].dtype

n_veh    0.0
Name: (2015-01-31 00:00:00, 53001950100), dtype: float64

In [ ]:
#express in terms of 2010 census tracts as the index (WRONG METHOD, DO NOT USE)
final_df = pd.read_csv("data/vehicles/%s.csv"%name)
final_df = final_df.rename(columns={"census_tract": "census_tract_2020"})
final_df_2010tracts = final_df.copy()
final_df_2010tracts["census_tract_2010"] = final_df_2010tracts["census_tract_2020"].map(df_tract_20_10.to_dict())
final_df_2010tracts = final_df_2010tracts.set_index(["time", "census_tract_2010"])
final_df_2010tracts.to_csv("data/vehicles/%s_2010tracts.csv"%name)
final_df_2010tracts

In [8]:
# save resulting dataframe to file
final_df.to_csv("data/vehicles/veh_counts.csv")
# final_df.to_csv("data/vehicles/veh_counts_slow.csv")
# final_df.to_csv("data/vehicles/veh_counts_fast.csv")

In [111]:
slow = pd.read_csv("data/vehicles/veh_counts_slow.csv", index_col=("time", "census_tract"))
fast = pd.read_csv("data/vehicles/veh_counts_fast.csv", index_col=("time", "census_tract"))

In [113]:
ratio = slow["n_veh"]/fast["n_veh"]
ratio.describe()

count    8228.0
mean        1.0
std         0.0
min         1.0
25%         1.0
50%         1.0
75%         1.0
max         1.0
Name: n_veh, dtype: float64

In [115]:
(slow == fast).all()

county      False
zip_code    False
n_veh        True
dtype: bool

In [120]:
(~slow["county"].isna() == ~fast["county"].isna()).all()

True

In [116]:
slow.shape,fast.shape

((165912, 3), (165912, 3))

This concludes the main functionality of this notebook.